.bg-white {
  background-color: $white !important;
}

.text-white {
	color: $white;
}

a.portfolio-item {
	text-decoration: none;
}

#mainNav .navbar-nav li.nav-item a.nav-link:not(.active) {
	color: $primary;
}

.border-rounded {
	border-width: 3px;
	border-style: solid;
	border-color: $white;
	border-radius: 50%;
}

a.text-primary:focus,
a.text-primary:hover {
		color: darken($primary, 10%) !important;
		text-decoration: none;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: $primary !important;
}

#displayArea > embed,
#displayArea > span {
	cursor: crosshair;
	border-width: 3px;
	border-style: solid;
	border-color: $secondary;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);	
}

.gallery-item {
	cursor: pointer;
	background: $secondary;
	color: $white;
	border-radius: 5px;
	width: 100%; 
	height: 120px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.1s ease-in;
	&:hover {
		background: $primary;
	}
}

.gallery-item-body {
	overflow: auto;
	display: block;
	word-break: break-word;
	font-weight: bold;
	font-size: 0.8em;
}

.project-item {
	background: $white;
	color: $secondary;
	border-radius: 5px;
	width: 100%; 
	height: 175px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.1s ease-in;
	&:hover {
		background: $primary;
	}
}

.project-item-body {
	text-transform: uppercase;
	text-align: center;
	overflow: auto;
	display: block;
	word-break: break-word;
	font-weight: bold;
	font-size: 1.5em;
}